*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	background: rgb(228, 228, 230);
}

.main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.calculator {
	width: 400px;
	background-color: #5b6467;
	background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
	padding: 20px;
	border-radius: 20px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.screen {
	background-color: rgb(228, 228, 230);
	border-radius: 20px;
	margin-bottom: 15px;
	overflow: hidden;

	.display {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin: 10px;
		flex-wrap: wrap;
		font-size: 5rem;
	}

}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 15px;

	.btn {
		cursor: pointer;
		border: none;
		font-size: 3rem;
		padding: 20px 10px;
		border-radius: 20px;
		transition: background-color 0.3s;
	}

	.btn:hover {
		background-color: rgb(248, 123, 143);
	}

	.btn-long {
		grid-column: span 2;
		background-color: rgb(106, 163, 248);
		color: white;
	}

	.btn-operator {
		background-color: rgb(245, 218, 169);
	}

	.btn-equal {
		background-color: rgb(247, 194, 96);
	}
}
